
.ui-markdown-renderer :global(summary) {
  cursor: pointer;
}

.ui-markdown-renderer :global(summary):hover {
  text-decoration: underline;
}

.ui-markdown-renderer :global(details) {
  padding: 4px;
  margin: 2px 0;
  transition: background-color 0.2s;
}

.ui-markdown-renderer :global(details)[open],
.ui-markdown-renderer :global(details):hover {
  background-color: light-dark(var(--mantine-color-white-5), var(--mantine-color-dark-5));
}

.ui-markdown-renderer :global(details) > p {
  margin-left: 1em;
}

.ui-markdown-renderer img {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}

.ui-markdown-renderer img[align="left"] {
  margin-right: 20px;
}

.ui-markdown-renderer img[align="right"] {
  margin-left: 20px;
}
