.ui-frame {
    /* scrollbar depends on browser */
    --scrollbar-width: 10px;

    position: relative;
    height: 100vh;
    overflow: scroll;
    scrollbar-color: var(--mantine-color-primary-7) var(--mantine-color-primary-6);
    border-width: var(--scrollbar-width);
    border-style: solid;
    border-color: var(--mantine-color-primary-6);
    border-right: none;
    border-bottom: none;

}

@supports  (-moz-appearance:none)  {
    .ui-frame {
        --scrollbar-width: 8;
    }
}

.ui-frame::before {
    content: "";
    position: fixed;
    inset: var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-width) var(--scrollbar-width);
    border: 2px solid rgb(0 0 0 / 20%);
    z-index: 10;
    pointer-events: none;
}

.ui-frame .content {
    height: 100%;
    scrollbar-color: initial;
}
