# [submodule "external/PKHeX"]
# 	path = external/PKHeX
# 	url = https://github.com/kwsch/PKHeX.git
[submodule "external/PKHeX.Everywhere"]
	path = external/PKHeX.Everywhere
	url = https://github.com/arleypadua/PKHeX.Everywhere.git
