
.ui-storage-item {
    position: relative;
}

.ui-storage-item .button {
    position: relative;
    height: auto;
    padding: 0;
}

.ui-storage-item .icons {
    position: absolute;
    inset: 0;
    padding: 4px;
}

.ui-storage-item .checkbox {
    position: absolute;
    left: 4px;
    top: 4px;
}

.ui-storage-item:hover > .checkbox {
    opacity: 1;
}
