
.ui-icon {
    height: 16px;
    width: fit-content;
}

.ui-icon.small {
    height: 12px;
}

.ui-icon.big {
    height: 20px;
}

[data-mantine-color-scheme='light'] .ui-icon.disabled {
    opacity: 0.4;
    filter: brightness(0);
}

[data-mantine-color-scheme='dark'] .ui-icon.disabled {
    filter: brightness(0) contrast(0);
}
