/* stylelint-disable selector-class-pattern */
@import url('../assets/fonts/font-face.css');

* {
    scrollbar-width: thin;
}

:root, button {
    text-shadow: 1px 1px 0 light-dark(#0002, #FFF2);
}

:root strong,
:root b,
:root th,
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6,
:root .mantine-Badge-label {
  text-shadow: none;
}

:root strong, :root b {
    font-weight: bold;
}

svg.lucide {
    width: 1em;
    height: 1em;
}
