
.paper {
    --mantine-color-white: var(--mantine-color-white-4);
    --mantine-color-body: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));

    background-color: var(--mantine-color-body);
}

.scroller .scroller-control, .scroller .scroller-control:hover, .scroller .scroller-control .scroller-chevron {
    color: inherit;
}

.paper.paper-border {
    border-width: calc(0.0625rem * var(--mantine-scale) * 2);
}

.tabs[data-variant='outline'][data-active='true'] {
    background-color: light-dark(var(--mantine-color-white-4), var(--mantine-color-dark-6));
}

.tabs[data-variant='default'] {
    --tab-border-width: 0 0 calc(var(--tabs-list-border-width) * 2) 0;
}

.button {
    box-shadow: var(--mantine-shadow-sm);
}

[data-mantine-color-scheme='light'] .button[data-variant='white'] {
    /* stylelint-disable-next-line declaration-no-important */
    --button-hover: var(--mantine-color-gray-0) !important;
}
