@font-face {
  font-family: "Pixel Operator";
  src:
    url("regular/pixel-operator-regular.woff") format("woff"),
    url("regular/pixel-operator-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* bold */
@font-face {
  font-family: "Pixel Operator";
  src:
    url("bold/pixel-operator-bold.woff") format("woff"),
    url("bold/pixel-operator-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* half-bold */
@font-face {
  font-family: "Pixel Operator";
  src:
    url("half-bold/pixel-operator-hb.woff") format("woff"),
    url("half-bold/pixel-operator-hb.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
