.ui-species-img {
    --sprite-size-multiplier: var(--sprite-species-size-multiplier);
    --sprite-rendering: var(--sprite-species-rendering);
}

.ui-species-img.shadow img {
    filter: drop-shadow(#704 0 0 6px);
}
