[Desktop Entry]
Type=Application
Name=PKVault
Categories=Utility;
Comment=Pokemon storage and save manipulation tool based on PKHeX.
Exec=/usr/bin/pkvault
Icon=pkvault
Terminal=false
