.ui-storage-item-base {
  position: relative;
  height: auto;
  border: none;
  padding: 0;
  box-shadow: none;
  background: color-mix(in srgb, var(--button-bg), transparent 15%);
}

.ui-storage-item-base[data-disabled="true"] {
  opacity: 0.5;
  cursor: default;
}
