name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**/*.md"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Backend - Build & Test
        run: docker build . --target backend-builder

      - name: Backend - Publish
        run: docker build . --target backend-publish

      - name: Frontend - Checks & Build
        run: docker build . --target frontend-builder
        with:
          build-args: VITE_SERVER_URL=http://localhost:5000
