name: Release

on:
  workflow_dispatch: # manual trigger

permissions:
  contents: write # releases
  packages: write # ghcr

env:
  REGISTRY_IMAGE: ghcr.io/chnapy/pkvault

jobs:
  version:
    name: Extract & check version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      tag: ${{ steps.compute.outputs.tag }}
      major_minor: ${{ steps.compute.outputs.major_minor }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract version from backend .csproj
        id: get-version
        uses: KageKirin/get-csproj-version@v0
        with:
          file: "./PKVault.Backend/PKVault.Backend.csproj"

      - name: Check if version already exist
        env:
          VERSION: v${{ steps.get-version.outputs.version }}
        run: |
          if git ls-remote --tags origin | grep -q "refs/tags/$VERSION"; then
            echo "❌ Error: version $VERSION already exist (tag)!"
            exit 1
          fi
          if gh release list | grep -q "$VERSION"; then
            echo "❌ Error: version $VERSION already exist (release)!"
            exit 1
          fi

      - name: Compute tag and major/minor
        id: compute
        run: |
          VERSION=${{ steps.get-version.outputs.version }}
          MAJOR_MINOR=${VERSION%.*}
          echo "tag=$VERSION" >> $GITHUB_OUTPUT
          echo "major_minor=$MAJOR_MINOR" >> $GITHUB_OUTPUT

  docker:
    name: Build monolith Docker image
    needs: version
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4

      - name: Set env variables
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          echo "TAG=${{ needs.version.outputs.tag }}" >> $GITHUB_ENV
          echo "MAJOR_MINOR=${{ needs.version.outputs.major_minor }}" >> $GITHUB_ENV
          echo "VERSION=${{ needs.version.outputs.version }}" >> $GITHUB_ENV
          echo "VCS_REF=${GITHUB_SHA}" >> $GITHUB_ENV
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build monolith image for digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: monolith
          platforms: ${{ matrix.platform }}
          tags: ${{ env.REGISTRY_IMAGE }}
          build-args: |
            VERSION=${{ env.VERSION }}
            VCS_REF=${{ env.VCS_REF }}
            BUILD_DATE=${{ env.BUILD_DATE }}
          push: false
          provenance: false # avoid "unknown/unknown" platform in ghcr
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  docker-manifest:
    name: Push monolith Docker image with manifest
    runs-on: ubuntu-latest
    needs:
      - version
      - docker
    steps:
      - name: Set env variables
        run: |
          echo "TAG=${{ needs.version.outputs.tag }}" >> $GITHUB_ENV
          echo "MAJOR_MINOR=${{ needs.version.outputs.major_minor }}" >> $GITHUB_ENV
          echo "VERSION=${{ needs.version.outputs.version }}" >> $GITHUB_ENV

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value=${{ env.TAG }}
            type=raw,value=${{ env.MAJOR_MINOR }}
            type=raw,value=latest

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create \
            $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  release:
    name: Create GitHub release
    needs: [version, docker-manifest]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set env variables
        run: |
          echo "TAG=${{ needs.version.outputs.tag }}" >> $GITHUB_ENV
          echo "VERSION=${{ needs.version.outputs.version }}" >> $GITHUB_ENV

      - name: Build Win64 desktop image & extract executable
        run: |
          docker build . --target desktop --build-arg RID=win-x64 --build-arg VERSION=${{ env.VERSION }} -t tmp-desktop-win64
          docker create --name tmp-desktop-win64 tmp-desktop-win64

          docker cp tmp-desktop-win64:/app/PKVault.exe PKVault-${{ env.VERSION }}.exe

          docker rm tmp-desktop-win64
          docker rmi tmp-desktop-win64

          ls -la .

      - name: Build Linux64 desktop image & extract executable
        run: |
          docker build . --target desktop-linux --build-arg RID=linux-x64 --build-arg VERSION=${{ env.VERSION }} -t tmp-desktop-linux64
          docker create --name tmp-desktop-linux64 tmp-desktop-linux64

          docker cp tmp-desktop-linux64:/app/PKVault pkvault-${{ env.VERSION }}
          chmod +x pkvault-${{ env.VERSION }}

          docker cp tmp-desktop-linux64:/app/PKVault.AppImage pkvault-${{ env.VERSION }}.AppImage
          chmod +x pkvault-${{ env.VERSION }}.AppImage

          docker cp tmp-desktop-linux64:/app/PKVault.deb pkvault-${{ env.VERSION }}.deb
          chmod +x pkvault-${{ env.VERSION }}.deb

          docker cp tmp-desktop-linux64:/app/PKVault.flatpak pkvault-${{ env.VERSION }}.flatpak
          chmod +x pkvault-${{ env.VERSION }}.flatpak

          docker rm tmp-desktop-linux64
          docker rmi tmp-desktop-linux64

          ls -la .

      - name: Create tag
        env:
          VERSION: v${{ env.VERSION }}
        run: |
          git tag $VERSION
          git push origin $VERSION

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          generate_release_notes: true
          files: |
            PKVault-${{ env.VERSION }}.exe
            pkvault-${{ env.VERSION }}
            pkvault-${{ env.VERSION }}.AppImage
            pkvault-${{ env.VERSION }}.flatpak
            pkvault-${{ env.VERSION }}.deb
